@import '../../vars';

.multi-merge {
  display: flex;
  flex-direction: column;

  .mm-wrapper {
    display: flex;

    .mm-branches {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;

      .arrow-container {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $font-light;
        height: 40px;

        .arrow:before {
          text-align: center;
          transform: rotate(90deg);
        }
      }

      .mm-message-branch {
        flex: 1;
        margin-top: 0;

        p:not(.title) {
          margin-bottom: 25px;
        }

        &:after {
          content: '\f127' !important;
        }
      }

      .mm-dropdown {
        & + .mm-dropdown {
          margin-top: 10px;
        }

        .aui-dropdown2-trigger {
          min-width: 75%;
        }
      }
    }

    .mm-form {
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      flex: 1 0 auto;
    }
  }

  .button-section {
    padding: 20px;
    text-align: right;

    .aui-button .aui-icon {
      margin-right: 8px;
      margin-top: 2px;
    }
  }
}