@import '../../vars';

.mm-input-group {
  flex: 1;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 15px 30px 20px;

  .fieldset.top-label {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .field-group-textarea {
    display: flex;
    flex-direction: column;
    flex: 1;

    textarea.textarea {
      flex: 1;
    }
  }

}