@import '../../vars';

.mm-header {
  padding-bottom: 20px;

  .breadcrumb {
    color: $font-light;
  }

  .headline {
    margin-top: 10px;
    font-weight: 500;
    line-height: 1.17;
    color: $font-dark;
    letter-spacing: -0.01em;
    font-size: 1.71em;
  }

  .subline {
    margin-top: 20px;
    color: $font-dark;
    font-size: 1.14em;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -.006em;
  }
}