@import 'vars';

body {
  background-color: $bg-color;
  font-family: $default-font;
  margin: 0;
  padding: 20px;
  min-height: 900px;
  max-width: 900px;

  #aui-message-bar {
    position: fixed;
    right: 40px;
    top: 25px;
  }
}
