$font-light: #5E6C84;
$font-dark: #172B4D;
$bg-color: #FFF;
$border-color: #CCC;

$default-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;